
  <header data-v-0abf6834="" style="width:300px; background-image: linear-gradient(transparent, rgb(54, 57, 69)), url(&quot;https://cdn.thetrackernetwork.com/cdn/app/3247csgo.jpg&quot;);"><h1 data-v-0abf6834="">CSGO API <code data-v-0abf6834="">csgo</code></h1> <span data-v-0abf6834="" class="publisher">Valve</span> <div data-v-0abf6834="" class="platforms"><code data-v-0abf6834="" class="platform-steam">
    steam
  </code></div></header>
<div class="row">
    <div class="col-md-6">
        <pre>
            {{csgoStats|json}}
        </pre>
    </div>
    <div class="col-md-6">
        <pre>
            {{apexStats|json}}
        </pre>
    </div>
</div>
