<div class="row" id="proBanner">
  <div class="col-12">
    <span class="align-items-center purchase-popup">
      <p>upgrade to pro</p>
      <a href="t" target="_blank" class="btn download-button purchase-button btn-gradient-dark ml-auto btn-primary">Upgrade To
        Pro</a>
      <i class="mdi mdi-close" (click)="toggleProBanner($event)" id="bannerClose"></i>
    </span>
  </div>
</div>
<div >
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
          <h4 class="font-weight-normal mb-3">Time played
            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">     {{stats?.timePlayed?.displayValue}}
          </h2>
          <h6 class="card-text">Increased by 5%</h6>

        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
          <h4 class="font-weight-normal mb-3">Subscribed Users
            <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">45,6334</h2>
          <h6 class="card-text">Decreased by 10%</h6>
          
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
          <h4 class="font-weight-normal mb-3">Players Online
            <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{playerCount?.response.player_count}}</h2>
          <h6 class="card-text">Increased by 5%</h6>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card ">
      <div class="card">
      <div class="card-body">
        <h4 class="card-title">Weapons</h4>
        <div class="table-responsive">
          <table class="table table-striped scroll " >
            <thead>
              <tr class="btn-gradient-dark">
                <th>Weapon</th>
                <th>Kills</th>
                <th>Shots Fired </th>
                <th>Shots Hit </th>
                <th>Shots Accuracy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weapon of weaponInformations?.data; let i=index">
                <td  *ngIf="i<8" >
                  {{weapon.metadata.name}}
                </td>
                <td *ngIf="i<8">
                  {{weapon.stats.kills?.displayValue}}
                </td>
                <td *ngIf="i<8">
                  {{weapon.stats.shotsFired?.displayValue}}
                </td>
                <td *ngIf="i<8">
                  {{weapon.stats.shotsHit?.displayValue}}
                </td>
                <td *ngIf="i<8">
                  {{weapon.stats.shotsAccuracy?.displayValue}}
                </td>

              </tr>
            </tbody>
          </table>

          <a href="t" target="_blank" class="btn  btn-outline-dark ml-auto " style="width: 100%;">Upgrade to pro to see the rest of data</a>

        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card ">
      <div class="card">
      <div class="card-body">
        <h4 class="card-title">Maps</h4>
        <div class="table-responsive">
          <table class="table table-striped scroll " >
            <thead>
              <tr class="btn-gradient-dark">
                <th>Map Name</th>
                <th>Rounds Played </th>
                <th>Rounds won </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let map of mapInformationsFiltered; let i=index">
                <td>
                  <img src="{{map?.metadata?.imageUrl}}" alt="">
                  {{map.metadata.name}}
                </td>
                <td>
                  {{map.stats?.rounds?.displayValue}}
                </td>
                <td>
                  {{map.stats?.wins?.displayValue}}
                </td>
              </tr>
            </tbody>
          </table>
             <!--
          <a href="t" target="_blank" class="btn download-button purchase-button btn-gradient-dark ml-auto btn-primary" style="width: 100%;">Upgrade to pro to see the rest of data</a>
             -->
        </div>
        
      </div>
    </div>
    </div>
    <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card ">
    <app-csgo-news></app-csgo-news>

</div>
<div class="col-md-6 grid-margin grid-margin-md-0 stretch-card ">
  <div class="card mt-5">
    <div class="card-body ">
      <h4 class="card-title">Recent News</h4>
      <div class="d-flex align-items-top">
        <div class="mb-0 flex-grow">
          dsqdsqd
      </div>
    </div>
   <!--
    <a href="t" target="_blank" class="btn download-button purchase-button btn-gradient-dark ml-auto btn-primary" style="width: 100%;">Upgrade to pro to see the rest of data</a>
  -->
  </div>
</div>

