.news img{
    width: 95% !important;
    height: auto!important;
}
.leftCard{
    background-image: url("../../../../assets/images/left.png")
}
.midCard{
    background-image: url("../../../../assets/images/middle.png");
}
.rightCard{
    background-image: url("../../../../assets/images/right.png");
}